<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Detail Movie</h2>
      <ol>
        <li><a href="">Home</a></li>
        <li>Detail Movie</li>
      </ol>
    </div>

  </div>
</section>

<section id="portfolio-details" class="portfolio-details">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-8">
        <div class="portfolio-details-slider swiper" *ngIf="videos && videos.length > 0; else noVideoTemplate">
          <div class="swiper-wrapper align-items-center">
            <div *ngFor="let video of videos" class="swiper-slide">
              <div class="card" style="cursor: pointer;">
                <div class="card-body">
                  <h5 class="card-title">{{ video.name }}</h5>
                  <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" [src]="video.url" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <ng-template #noVideoTemplate>
          <p>Video tidak ditemukan.</p>
        </ng-template>
      </div>

      <div class="col-lg-4" *ngIf="movie">
        <div class="portfolio-info">
          <h3>Movie information</h3>
          <ul>
            <li><strong>Title</strong>: {{ movie.title }}</li>
            <li><strong>Genre</strong>: {{ genreNames.join(', ') }}</li>
            <li><strong>Duration</strong>: {{ movie.runtime }} min</li>
            <li><strong>Project date</strong>: {{ movie.release_date | date: 'd-MMMM-yyyy' }}</li>
            <li><strong>Status</strong>: {{ movie.status }}</li>
            <li><strong>Popularity</strong>: {{ movie.popularity }}</li>
          </ul>
        </div>
        <div class="portfolio-description">
          <h2>Description</h2>
          <p *ngIf="movie.overview; else noDescriptionTemplate">{{ movie.overview }}</p>
          <ng-template #noDescriptionTemplate>
            <p>Deskripsi tidak ditemukan.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>


<footer id="footer">
  <div class="container">
    <h3>My Movie</h3>
    <p>my first project web film berbasis Angular.</p>
    <div class="social-links">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
    </div>
    
    <div class="credits">
      made by<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
    </div>
  </div>
</footer>